@use "global_variables" as _;

:root {
    scroll-behavior: smooth;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    --homeHeaderHeight: 15vh;
    --homeFooterHeight: 15vh;
}

@media screen and (min-width: 1024px) {
    :root {
        --rootFontSize: 2rem;
        --w: 50%;
    }
}

@media screen and (min-width: 512px) and (max-width: 1024px) {
    :root {
        --rootFontSize: 1.9rem;
        --w: 75%;
    }
}

@media screen and (max-width: 512px) {
    :root {
        --rootFontSize: 1.6rem;
        --w: 100%;
    }
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    margin: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: _.$lightGray;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.home-header {
    height: var(--homeHeaderHeight);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    #path {
        display: inline;
        margin: 0;
        & > .part-of-path {
            color: _.$gray;
            font-size: 2rem;
            font-weight: 100;
            text-align: center;
            letter-spacing: 2px;
        }
    }
}

#main,
#category-bar {
    width: var(--w);
}

.category-tag {
    font-size: max(0.9rem, var(--rootFontSize) * 0.5);
    letter-spacing: 1px;
    color: _.$black;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    transition-duration: 300ms;
    &#category-all.active {
        color: _.$gray;
        border-bottom-color: _.$gray;
    }
    &#category-economics.active {
        color: _.$yellow;
        border-bottom-color: _.$yellow;
    }
    &#category-programming.active {
        color: _.$green;
        border-bottom-color: _.$green;
    }
    &#category-ai.active {
        color: _.$blue;
        border-bottom-color: _.$blue;
    }
    &#category-others.active {
        color: _.$pink;
        border-bottom-color: _.$pink;
    }
}

#search {
    box-sizing: border-box;
    width: var(--w);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    #search-bar {
        box-sizing: border-box;
        font-size: 1rem;
        color: _.$gray;
        border-radius: 50px;
        transition-duration: 300ms;
        &.expanded {
            width: 100%;
            border: 1px solid _.$gray;
            margin: 0 10px;
        }
        &.folded {
            width: 0px;
            border: 0px solid transparent;
        }
        &:focus {
            outline: none;
        }
    }
    #search-btn {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}

#main {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview {
    position: relative;
    height: 400px;
    width: 50%;
    min-width: 520px;
    display: block;
    border-radius: 5px;
    background-color: _.$bgc;
    box-shadow: 1px 1px 6px 2px _.$lightGray;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
    transition-duration: 100ms;
    img {
        width: 100%;
        position: absolute;
        bottom: -90px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 70%,
            _.$bgc 95%
        );
    }
}

.img-container {
    position: relative;
    width: 100%;
    height: 25%;
    overflow: hidden;
}

.article-title {
    position: absolute;
    bottom: 70%;
    width: 100%;
    font-size: var(--rootFontSize);
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0 3%;
    color: _.$black;
}

.article-info {
    display: flex;
    height: 15%;
    align-items: center;
    padding: 30px 0 0 0;
    font-size: 0.8rem;
    color: _.$gray;
}

.article-info-label {
    margin: 0 0 0 4%;
}

.article-content-preview {
    color: _.$deepGray;
    margin: 5%;
    font-size: max(0.9rem, var(--rootFontSize) * 0.5);
    letter-spacing: 1px;
    line-height: 1.8rem;
    text-align: justify;
    text-justify: inter-ideograph;
    overflow: hidden;
    height: 50%;
}

#back-to-top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 40px;
    width: 40px;
    padding-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: _.$gray;
    z-index: 1000;
}

@media (hover: hover) {
    .part-of-path:hover {
        color: _.$gray;
    }

    #search-btn:hover {
        background-color: _.$noisyWhite;
    }

    .category-tag:hover {
        text-shadow: 0px 0px 15px _.$noisyWhite;
    }

    #category-all:hover {
        color: _.$gray;
        border-bottom-color: _.$gray;
    }

    #category-economics:hover {
        color: _.$yellow;
        border-bottom-color: _.$yellow;
    }

    #category-programming:hover {
        color: _.$green;
        border-bottom-color: _.$green;
    }

    #category-ai:hover {
        color: _.$blue;
        border-bottom-color: _.$blue;
    }

    #category-others:hover {
        color: _.$pink;
        border-bottom-color: _.$pink;
    }

    .preview:hover {
        box-shadow: 5px 5px 18px 2px _.$lightGray;
        cursor: pointer;
        text-decoration: none;
    }

    #back-to-top:hover {
        background-color: _.$noisyWhite;
    }
}
