:root {
    --w: 100vw;
    --gray: #bbb;
    --lightGray: #eee;
    --blue: #4c8bf5;
    font-family: "微軟正黑體", sans-serif;
}

::selection {
    color: #000;
    background: rgb(255, 187, 0);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

sub {
    font-size: 0.5rem;
}

#main-img-container {
    width: 100%;
    height: calc(var(--w) * 0.45);
    position: relative;
    overflow: hidden;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000050;
}

#article-title {
    line-height: calc(var(--rootFontSize) * 1.5);
    letter-spacing: 3px;
    margin: 2% 0 0 0;
    width: 100%;
    font-weight: 900;
    color: var(--lightGray);
    z-index: 1000;
    font-size: var(--rootFontSize);
}

@media screen and (min-width: 1024px) {
    :root {
        --rootFontSize: 3rem;
    }
    #article-title {
        padding: 0 20vw;
    }
    #article-info,
    #recommended-article {
        width: 60%;
    }
    #article-content {
        --contextFontSize: calc(var(--rootFontSize) - 1rem);
        width: 60%;
    }
}

@media screen and (min-width: 512px) and (max-width: 1024px) {
    :root {
        --rootFontSize: 2.2rem;
    }
    #article-title {
        padding: 0 10vw;
    }
    #article-info,
    #recommended-article {
        width: 80%;
    }
    #article-content {
        --contextFontSize: calc(var(--rootFontSize) - 0.2rem);
        width: 80%;
    }
}

@media screen and (max-width: 512px) {
    :root {
        --rootFontSize: 1.6rem;
    }
    #article-title {
        padding: 0 5vw;
    }
    #article-info,
    #recommended-article {
        width: 88%;
    }
    #article-content {
        --contextFontSize: var(--rootFontSize);
        width: 90%;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    margin: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--gray);
}

#article-info {
    display: flex;
    padding: 30px 0 0 0;
    color: #888;
}

.article-info-label {
    margin: 0 0 0 4%;
    font-size: max(0.9rem, calc(var(--rootFontSize) / 3));
}

.article-info-label.name {
    cursor: pointer;
}

.article-info-label.domain {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.paragraph-title {
    font-weight: 700;
}

.paragraph-title.tier-1 {
    font-size: var(--contextFontSize);
    text-align: center;
    padding: 60px 0 20px 0;
    letter-spacing: 5px;
}

.paragraph-title.tier-2 {
    font-size: calc(var(--contextFontSize) * 1.4 / 2);
    text-align: start;
    padding: 20px 0 20px 0;
    letter-spacing: 4px;
}

#article-content > section .paragraph::first-letter {
    font-size: var(--contextFontSize);
    letter-spacing: 10px;
}

/* Select all but the first section child of #article-content,
and all but the first .paragraph descendent of #article-content>section, */
#article-content > section .paragraph ~ .paragraph::first-letter,
#article-content > section ~ section .paragraph::first-letter {
    font-size: calc(var(--contextFontSize) * 1.2 / 2);
    letter-spacing: 2px;
}

.paragraph {
    padding: 20px 0;
    letter-spacing: 2px;
    line-height: 2.4rem;
    text-align: justify;
    text-justify: inter-ideograph;
    font-size: calc(var(--contextFontSize) * 1.2 / 2);
    color: #333;
    word-break: break-word;
    cursor: default;
    display: block;
}

.paragraph.formula {
    text-align: center;
    letter-spacing: 4px;
    font-style: italic;
    font-family: "Cambria Math", Cochin, Georgia, Times, "Times New Roman",
        serif;
}

.paragraph.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph.img > img {
    width: 100%;
}

.word-comment {
    color: var(--blue);
}

.word-comment:hover {
    cursor: pointer;
}

#recommended-article {
    margin: 100px 0;
    padding: 0;
    font-size: calc(var(--contextFontSize) * 1.2 / 2);
}

#back-bar {
    position: fixed;
    bottom: 3%;
    right: 5%;
}

.back-bar-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
}

.back-bar-btn:hover {
    background-color: var(--lightGray);
}
